{% extends 'base.html' %}

{% block title %}Importar CSV{% endblock %}

{% block content %}
    <h2>📂 Subir Archivo CSV</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">🚀 Importar</button>
    </form>

    <div style="margin-top: 20px;">
        <a href="{% url 'inicio_imp_exp_archivos' %}" style="text-decoration: none;">
            <button style="background-color: #ddd; border: none; padding: 10px; cursor: pointer;">⬅ Volver</button>
        </a>
    </div>
{% endblock %}
