{% extends 'base.html' %}

{% block title %}Importar CSV{% endblock %}

{% block content %}
<h2>📂 Subir Archivo CSV</h2>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="padding: 10px; margin-bottom: 10px;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">🚀 Importar</button>
</form>
<a href="{% url 'descargar_csv' %}">
    <button style="background-color: #4CAF50; color: white; border: none; padding: 10px; cursor: pointer;">
        📥 Descargar CSV
    </button>
</a>

<div style="margin-top: 20px;">
    <a href="{% url 'inicio_imp_exp_archivos' %}" style="text-decoration: none;">
        <button style="background-color: #ddd; border: none; padding: 10px; cursor: pointer;">⬅ Volver</button>
    </a>
</div>
{% endblock %}
