{% extends 'base.html' %}

{% block title %}Importación de Archivos{% endblock %}

{% block content %}
<h2>📂 Gestión de Archivos</h2>
<p>Selecciona la opción que deseas realizar:</p>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <a href="{% url 'importar_csv' %}"><button>📤 Cargar Nuevo Archivo CSV</button></a>
    <a href="{% url 'ver_borrador' %}"><button>📝 Ver Registros Preliminares</button></a>
    <a href="{% url 'ver_exportados' %}"><button>📦 Ver Registros Exportados</button></a>
</div>
<div style="margin-top: 20px;">
    <a href="{% url 'inicio' %}" style="text-decoration: none;">
        <button style="background-color: #ddd; border: none; padding: 10px; cursor: pointer;">⬅ Volver</button>
    </a>
</div>
{% endblock %}
