<h2>Listado de Carreras</h2>
<a href="{% url 'carrera_create' %}">Agregar nueva Carrera</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>
    {% for carrera in carreras %}
    <tr>
        <td>{{ carrera.id }}</td>
        <td>{{ carrera.descripcion }}</td>
        <td>
            <a href="{% url 'carrera_update' carrera.id %}">Editar</a>
            <a href="{% url 'carrera_delete' carrera.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'parametros_inicio' %}">Volver</a>